			<div id="social" class="text-center" >
				<ul class="list-inline" >
					<li>
						<a class="btn btn-social-icon btn-github" href="https://github.com/Hellfar" >
							<span class="fa fa-github"></span>
						</a>
					</li>
					<li>
						<a class="btn btn-social-icon btn-linkedin" href="https://fr.linkedin.com/in/pierrelouchet" >
							<span class="fa fa-linkedin"></span>
						</a>
					</li>
					<li>
						<a class="btn btn-social-icon btn-stack-overflow" href="https://fr.linkedin.com/in/pierrelouchet" >
							<span class="fa fa-stack-overflow"></span>
						</a>
					</li>
					<li>
						<a class="btn btn-social-icon btn-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" >
							<span class="fa fa-rss"></span>
						</a>
					</li>
				</ul>
			</div>
